@tailwind base;
@tailwind components;
@tailwind utilities;

.signupTitle{
  text-align: center;
}

.form {
  background-color: bisque;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.field-container {
  margin: 5px;
  width: 350px;
}

.field-container label {
  display: block;
  margin-bottom: 5px;
}

.field-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.regBtn {
  width: 350px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.form input{
color: black;
}

/* .Card{
  width: 250px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  color: black;
}

.Products{
  display: flex;
} */

/* main.css */

.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px auto;
  background-color: bisque;
}

.Card {
  border: 1px solid #491cb3;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 300px;
}

.Card img {
  max-width: 100%;
  height: auto;
}

.ShoppingCartIcon {
  cursor: pointer;
}
